---
layout: "base.njk"
---

<article class="section container">
  <div class="container container--narrow flow">
    <h1 class="article-title">
      {{ title }}
    </h1>
    <time>{{ date | date('DD MMM, YYYY') }}</time>

    <figure class="main-article___figure">
      <img src="{{ image }}" alt="{{ imageAlt }}" />
      <figcaption>
        {{ imageAlt }}
      </figcaption>
    </figure>
    
   


    {{ content | safe }}
    <div></div>
    <a href="https://www.buymeacoffee.com/defiestable">
      <img
        src="https://img.buymeacoffee.com/button-api/?text=Se agradece un café &amp;emoji=&amp;&amp;button_colour=71c3a8&amp;font_colour=ffffff&amp;font_family=Inter&amp;outline_colour=000000&amp;coffee_colour=FFDD00"
        alt="Cómprame un cafelito"
    /></a>
  </div>
</article>
