<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <a href="https://defiestable.com/">
        <div class="logo-container">
          <img
            class="img-logo"
            src="../assets/icons/logo.png"
            alt="Defiestable"
            height="70"
          />

          <h4 class="blog-description">DeFi & Estable</h4>
        </div></a
      >

      <nav>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/bio">Bio</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
