<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div class="logo-container">
        <a class="logo" href="https://defiestable.com/"></a>
      </div>

      <nav>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/bio">Bio</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
