---
title: Acerca de
layout: "base.njk"
---

<div class="section container">
  <div class="bio_img_container">
    <img
      src="/assets/blog/defibomba.svg"
      alt="haz tu propia investigación"
      class="bio__img"
    />
  </div>
  <div></div>
  <p>
    <strong> DeFi & Estable </strong> es un blog independiente que publica
    contenidos sobre finanzas descentralizadas.
  </p>
  <hr />
  <p>
    Nos interesan la tecnología blockchain, la investigación de activos
    digitales y las organizaciones autónomas descentralizadas.
  </p>
  <hr />
  <p>
    En ningún caso estos contenidos pueden ser tomados como consejos de
    inversión.
  </p>
  <hr />
  <p>DYOR (Make your own research - Haz tu propia investigación).</p>
  <br />
  <div class="contact">
    <a
      href="mailto:defiestable@gmail.com"
      target="_blank"
      class="btn btn--neutral"
      >Contacto</a
    >
  </div>
</div>
